<footer class="footer mt-auto py-4 bg-dark text-light shadow" >
    <div class="container">
        <div class="row align-items-center py-3 justify-content-around">
        <div class="row mb-1">
          <div class="logo" style="top: auto;" >
            <a href="index.html">
            <img src="../../../assets/imagenes/logoss.png" style="width: 180px;" >
            </a>
          </div>
          </div>            
          <div>
          <p class="mb-0">&copy; 2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
          </div>
        </div>
    </div>
    </footer>
