<aside class ="menu-vertical navbar-dark bg-dark">
    <div class="card" style="width: 100%;">
        <div class="card-header text-center">
            Preguntas
        </div>
        <ul class="list-group list-group-flush">
        
            <form class="form">
                <!--Pregunta 1-->
                <div class="row mb-3">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Pregunta 1" id="pregunta1">
                  </div>
                </div>
            
                <!--Pregunta 2-->
                <div class="row mb-3">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Pregunta 2" id="pregunta2">
                  </div>
                </div>
            
                <!--Pregunta 3-->
                <div class="row mb-3">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Pregunta 3" id="pregunta3">
                  </div>
                </div>
            
                <!--Pregunta 4-->
                <div class="row mb-3">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Pregunta 4" id="pregunta4">
                  </div>
                </div>
            
                <!--Pregunta 5-->
                <div class="row mb-3">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Pregunta 5" id="pregunta5">
                  </div>
                </div>
                <input type="button" class="btn btn-primary"  value="Crear preguntas">
              </form>    
       
        </ul>
    </div>
</aside>