<aside class ="menu-vertical navbar-dark bg-dark">
    <div class="card" style="width: 100%;">
        <div class="card-header text-center">
            Opciones
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" routerLink="/empleados">Ver empleados</li>
            <li class="list-group-item" routerLink="/registrar-empleado">Registrar empleados</li>
            <li class="list-group-item">Preguntas</li>
            <li class="list-group-item">Ver Grafica</li>
            <li class="list-group-item">Configuración</li>
            <li class="list-group-item">Salir</li>
        </ul>
    </div>
</aside>