<div id="container" class="container-fluid com">
    <main id="sub-container" class="row">
        <div class="col-md-6 izq">
          <h1>Notebook</h1>
          <h5>Con Notebook tendras una mejor forma de evaluar a tus empleados.</h5>
            <button type="button" class="btn btn-primary" [routerLink]="[ '/login']">Sign In</button>
            
        </div>
        <div class="col-md-6 der">
          <div class="img">
            <img src="../../../assets/Logo.png" >
          </div>
        </div>
    </main>
    </div>
    
    <div class="card-deck">
      <div class="card">
        <img src="../../../assets/foto.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/foto.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/foto.png"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          
        </div>
      </div>  
    </div>
    
    
    <br>
    <br>
