<br><br><br>
<main class="bd-masthead" id="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto col-md-4 order-md-2">
      <img src="../../../assets/imagenes/logotype.png">
      </div>
      <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
        <h1 class="mb-3">Crea encuestas sencillas y convierte los datos en resultados</h1>
        <p class="lead mb-4">
          Evaluar a los operadores de tus negocios puede ser muy complicados, pero con Notebook encuestas no debería serlo. Interfaz muy fácil de usar que permite a los usuarios elaborar sus propias encuestas. Como encuestado, el proceso de responder a una encuesta es bastante fluido.
        </p>
        <div class="d-flex flex-column flex-md-row">
          <a  [routerLink]="[ '/registro']"class="btn btn-lg btn-outline-secondary mb-3 mr-md-3" >Registrarse</a>
          
        </div>
       
      </div>
    </div>
   
  </div>
</main> 
 <br>
 <hr>
 <br>
 <div class="row mb-5 pb-md-4 align-items-center">
  <div class="col-md-5">
    <div class="masthead-followup-icon d-inline-block mb-2 text-white bd-bg-purple-bright">
      <svg width="32" height="32" class="masthead-followup-svg" focusable="false" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M0 6a6 6 0 1112 0A6 6 0 010 6z"></path>
<path d="M12.93 5h1.57a.5.5 0 01.5.5v9a.5.5 0 01-.5.5h-9a.5.5 0 01-.5-.5v-1.57a6.953 6.953 0 01-1-.22v1.79A1.5 1.5 0 005.5 16h9a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 4h-1.79c.097.324.17.658.22 1z"></path>
</svg>

    </div>
    <h2>Google Charts</h2>
    <p class="lead font-weight-normal">
      La API ofrece una gran variedad de diseños de gráficos a escoger
    </p>
    <p>
      Una herramienta que permite a desarrolladores de aplicaciones web crear gráficos a partir de los datos escogidos e incrustarlos en las páginas web.
    </p>
    <a href="https://icons.getbootstrap.com" class="btn btn-lg btn-outline-primary mb-3">Get Bootstrap Icons</a>
  </div>
  <div class="col-md-7 pl-md-5">
    <img src="../../../assets/imagenes/chart.jpeg" width="500px">
  </div>
</div>
