<div id="container" class="container-fluid com animated fadeIn fast">
    <main id="sub-container" class="row">
        <div class="col-md-6 col-xm-12 px-0 fondo-izq">
            <img src="../../../assets/imagenes/userlogin.png" style="width: 80%;" class="center mt-2 mx-auto d-block">
        </div>
        <div class="col-md-6 px-0 fondo-der">
            <div class="mx-auto">
                <h1 class="text-center text-white font-weight-lighter">Bienvenido a Notebook</h1>
                <form class="form mx-auto">
                    <h1 class="text-center text-secondary font-weight-lighter">Login</h1>
                    <div class="row mb-3 text-center">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                    value="option1" checked>
                                <label class="form-check-label" for="gridRadios1">
                                    Empresa
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                    value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                    Empleado
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">Correo electronico</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp" id="email">
                    </div>
                    <div class="form-group">
                        <label class="label">Contraseña</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="row">
                        <app-recuperar></app-recuperar>
                        
                        <div class="col-lg-4">
                            <a class="text-center d-block olvido" routerLink="/registro">Registrarse</a>
                        </div>
                    </div>
                    <input type="button" value="Entrar" onclick="verificar()"
                        class="btn-entrar text-center text-white border-0">
                </form>

            </div>
        </div>
    </main>
</div>
