
* {
    box-sizing: border-box;
}


.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    background-image: url("../../../assets/imagenes/fondo.jpg");   
    
}

.form {
    margin: 30px;
    background-color: #ffffff;  
    opacity: 0.7;
    width: 360px;
    padding: 32px;
    border-radius: 5px;
    /*box-shadow: 0px -1px 55px 0px rgba(181,206,255,1);*/
}

.form-control {
    padding: 8px 12px;
}

.label {
    margin-bottom: 5px;
}

.form-group, .btn, .olvido, h1 {
    margin-bottom: 32px;
}

.olvido:hover {
    color: rgb(236, 113, 82);
    cursor: pointer;
}

.btn-entrar {
    display: block;
    background-color: #3b74c0;
    color: white;
    width: 100%;
    height: 38px;
    padding: 5px 15px 9px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-entrar:hover {
    background-color: #266dc9;
    text-decoration: none;
}

@media (max-width: 450px) { 
    .form {
        width: 90%;
        padding: 16px;
    }
}