<style>
  .item-active{
    color: rgb(151, 145, 145);
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <img src="../../../../assets/imagenes/Log.png" width="50%" height="40" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <form class="form-inline my-2 my-lg-0">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" >
          <ul class="navbar-nav" >
            <li class="nav-item active" style="display: flex;
            justify-content: center;
            align-items: center;">
              <img [src]="img" id="imagen" *ngIf="name" class="imagen-empresa" style="height: 30px; width: 30px; border-radius: 50%; ">      
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/panel-empresa" *ngIf="name">{{nombreE}}</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/empleados" *ngIf="name && empleado">Ver empleados</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/registrar-empleado" *ngIf="name && empleado">Registrar empleados</a>
            </li>           
            <li class="nav-item active">
              <a class="nav-link" routerLink="/login" *ngIf="iniciar"  >Iniciar sesion</a>
            </li>  

            <li class="nav-item active">
              <a class="nav-link" routerLink="/home" *ngIf="cerrar" (click)="cerrarSesion()">Cerrar sesion</a>
            </li>
          </ul>

  
        </ul>
      </div>      
        
        
    </form>
  </div>
</nav>