<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 ">
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/imagenes/logoss.png" width="120" height="30" alt="" loading="lazy">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="[ '/home' ]">Home <span class="sr-only">(current)</span></a>
        </li>
            
      </ul>
      
    </div>
    <form class="form-inline my-2 my-lg-0">
      
      <button  [routerLink]="[ '/login']"class="btn btn-outline-light my-2 my-sm-0" type="submit">Iniciar sesion</button>
    </form>
  </nav>
