


    <div id="container" class="container-fluid com animated fadeIn fast">
      <main id="sub-container" class="row">
          <div class="col-md-6 px-0 fondo-izq " >
              <div class="mx-auto ">
                


    <div class="col">
      <form >
        <div class="form-group">
          <label for="formGroupExampleInput">1. {{pregunta1}}</label>
          <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="Pregunta 1" id="pregunta1">
          </div>
        </div>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">2. {{pregunta2}}</label>
          <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="Pregunta 2" id="pregunta2">
          </div>
        </div>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">3. {{pregunta3}}</label>
          <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="Pregunta 3" id="pregunta3">
          </div>
        </div>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">4. {{pregunta4}}</label>
          <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="Pregunta 4" id="pregunta4">
          </div>
        </div>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">5. {{pregunta5}}</label>
          <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="Pregunta 5" id="pregunta5">
          </div>
        </div>
        </div>
        </form>
    </div>    


              </div>
          </div>
          <div class="col-md-6 px-0 fondo-der d-none d-sm-none d-md-block der cont">   
              <div class="mx-auto cont">
                <h1>{{nameEmpleado}}</h1>
                <img [src]="img" id="imagen" class="imagen-empresa" style="height: 180px; width: 180px; border-radius: 50%;">
              </div>
          </div>
      </main>
  </div>
